/* =====Resetter=== */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq Sans', cursive;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}